version: '3'

services:
  # --- Web Server 1  ---
  web1:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./html1:/usr/share/nginx/html
    networks:
      - app-network

  # --- Web Server 2  ---
  web2:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./html2:/usr/share/nginx/html
    networks:
      - app-network

  # --- Load Balancer  ---
  lb:
      image: nginx:alpine
      restart: unless-stopped
      ports:
        - "8080:80"
        - "443:443"  # Add HTTPS port
      volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
        # MOUNT CERTS FROM CASE 2
        # This assumes your folders are side-by-side (case2 and case5)
        - ../case2/certs:/certs 
      depends_on:
        - web1
        - web2
      networks:
        - app-network

networks:
  app-network:
    driver: bridge